body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  font-family: "Smooch Sans", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 768px;
  padding: 1rem;
  box-sizing: border-box;
}
